/* 헤더 */
header {
  width: 1920px;
  border-bottom: 1px solid var(--color-gray-100);
}
section {
  background: var(--color-gray-100);
  width: 100%;
  height: 34px;
}
ul {
  width: 1020px;
  display: flex;
  margin: 0 auto;
}
ul > a {
  width: auto;
  height: 24px;
  font-weight: 400;
  font-size: 12px;
  padding-top: 3px;
  margin: 5px 8px;
}
#left {
  margin-right: auto;
}
ul a:nth-of-type(1) {
  order: 3;
}
ul a:nth-of-type(2) {
  order: 4;
}
ul a:nth-of-type(3) {
  order: 5;
}
ul a:nth-of-type(4) {
  order: 1;
}
ul a:nth-of-type(5) {
  order: 2;
}
nav {
  width: 1020px;
  margin: 0 auto;
  background: var(--color-white);
}
.grid-container {
  display: grid;
}
.item-1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}
.item-2 {
  grid-column: 2 / span 2;
  grid-row: 1;
}
.item-3 {
  grid-column: 4 / span 4;
  grid-row: 1;
}
.item-4 {
  grid-column: 8 / span 2;
  grid-row: 1 / span 2;
}
.item-5 {
  grid-column: 2 / span 7;
  grid-row: 2;
}
.grid-container > [class^="item-"] {
  text-align: center;
}
.item-1 {
  width: 110px;
  height: 116px;
  background-color: var(--color-blue-600);
}
.item-1 .btn {
  background: url(/assets/icon/hamburger.svg);
  width: 30px;
  height: 30px;
  margin: 0px 40px 12px;
}
.item-1 > .text {
  width: 45px;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  margin: 0 auto;
  color: var(--color-white);
}
.item-2 {
  background: url(/assets/logo/logo.svg) no-repeat;
  background-size: 176px 40px;
  width: 176px;
  height: 40px;
  margin: 34px 0 10px 40px;
}
.item-3 {
  width: 516px;
  height: 40px;
  display: inline-flex;
  background: var(--color-white);
  border: 1px solid var(--color-blue-600);
  margin: 34px 0 13px 30px;
}
.item-3 .custom-select {
  display: inline-flex;
  justify-content: center;
}
.custom-select select {
  width: 135px;
  color: var(--color-gray-700);
  font-weight: 400;
  font-size: 12px;
  padding: 0 12px 0 15px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.custom-select select {
  background: url("/assets/icon/dropdown-arrow.svg") no-repeat right;
  background-position: 110px;
}
.item-3 input {
  width: 301px;
  height: 100%;
  border: none;
  border-left: 1px solid var(--color-gray-100);
  text-indent: 10px;
  outline: none;
  font-weight: 400;
  font-size: 12px;
}
input::placeholder {
  vertical-align: middle;
  color: var(--color-gray-600);
}
.item-3 button {
  width: 40px;
  height: 40px;
}
.item-3 .mic {
  background: url(/assets/icon/mic.svg) no-repeat center;
}
.item-3 .search {
  background: url(/assets/icon/search.svg) no-repeat center;
}
.item-4 {
  display: inline-flex;
  justify-content: center;
  margin-left: 35px;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
}
.item-4 button {
  width: 50px;
  height: 58px;
  margin-top: 30px;
}
.item-4 button:not(:last-child) {
  margin-right: 13.53px;
}
.item-4 .profile-img {
  background: url(/assets/icon/my-coupang.svg) no-repeat center;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.item-4 .cart-img {
  background: url(/assets/icon/cart.svg) no-repeat center;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.item-5 {
  display: inline-block;
  width: 755px;
  margin: 0 0 6px 36px;
}
.item-5 a {
  height: 26px;
  padding: 0 14px;
  margin-right: -2px;
  vertical-align: middle;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
}
.item-5 img {
  position: relative;
  top: -1.5px;
}
.item-5 #left {
  padding-right: 4px;
}
.item-5 #right {
  padding-left: 4px;
}
